*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../assets/zyro.png");       
}
.grid{
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.7fr 1fr 1.7fr auto 0.3fr;
    grid-template-areas: 
    "menu menu" 
    "carrusel carrusel"
    "principal principal"
    "productos productos"    
    "footer footer";
}
.menu a:hover{
    font-weight: bolder;
    background-color: rgb(97, 105, 105);
    color: rgb(0, 0, 0);    
}
.menu a{
    font-size: 1.8rem;
}
.carrusel{   
    grid-area: carrusel; 
    padding: 5rem;    
}
.productos{  
    grid-area: productos;  
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-between; 
    text-align: center;
    padding: 2rem;       
}
.card{
margin-bottom: 25px;
}
.footer{
    grid-area: footer;
   width: 100%;
   background-color: rgb(46, 46, 46);
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   padding: 10px;
   margin-top: 50px; 
   position: relative;
   z-index: 2;      
}
.footer img{
    width: 30px;
    margin: 5px 15px;    
}
.main .sobrenosotros{
    margin: 4rem;
    background-image: url("../assets/fabrizio-conti-aExT3y92x5o-unsplash.jpg");
    background-size: cover;
    text-align: center;
}
.main .sobrenosotros p{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .contacto{
    display: flex;    
    flex-wrap: wrap;
    background-color: lightgray;
    line-height: 2.5rem;
    display: block;        
    
}
.creatudiseño{
    text-align: center;
    position: relative;
    z-index: 2; 
    color: azure;
 }
 .creatudiseño p{
    font-size: 5rem;
 }
.menu{
    grid-area: menu;
    position: relative;
    z-index: 2; 
}
#hero{
    min-height: 100vh;
    position: relative;
}
.creatuvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   opacity: 0.5;
   mix-blend-mode: overlay;
}
.video2{
    grid-area: video2;
}
.principal{
    grid-area: princial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "cajavideo1 cajatexto" ;
}
.cajatexto{
    margin-top: 50px;
    background-color: azure;
    text-align: center;
    height: 60%;
    width: 80%; 
    font-size: 1.3rem;
    line-height: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-seri
}
.cajatexto h2{
    margin-top: 40px;
    font-weight: bolder;
}
.cajavideo1 video{
padding-left: 250px;
height: 80%;
}



@media only screen and (max-width: 768px){
    .grid{
        height: 100vh;
        margin: 0%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "menu" 
        "carrusel"
        "principal"
        "productos"    
        "footer";
    }
    .principal{
        grid-area: princial;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "cajatexto"
        "cajavideo1" ;
    }
    .cajatexto{       
        background-color: azure;
        text-align: center;
        height: 80%;
        width: 100%; 
        font-size: 1.3rem;
        line-height: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-seri
    }
    .cajatexto h2{
        margin-top: 80px;
        font-weight: bolder;        
    }
    .cajavideo1 video{       
        padding-left: 100px;
    }        
    .productos{  
        grid-area: productos; 
        justify-content: center; 
        text-align: center;  
    }
}