@import "variables";

// Media query para dispositivos móviles
@media only screen and (max-width: 767px) {   
 
  main {
    padding: 30px; // Ajustar el relleno para dispositivos móviles

  }

  .principal {
    @include flex-center;    
     

    .video-container {        
        width: 100%;
      video {      
        width: 100%;
      }
    }

    .text-container {
      text-align: center;
      margin: 20px auto;

      h2 {
        font-size: 28px; // Tamaño ajustado para dispositivos móviles
      }

      p {
        font-size: 16px; // Tamaño ajustado para dispositivos móviles
        font-weight: bolder;
      }
    }
  }
  .productos {
    @include flex-center;
    flex-direction: column;    
    padding: 20px; // Ajuste del relleno para dispositivos móviles
  }


.video-formulario{
  @include flex-center;
  flex-direction: column-reverse;

  .formulario-diseño{
 margin-left:  250px;
 width: 100%;
  }

  .video-sticker{
    flex: 1; 
    margin-right: 250px; 
    width: 100%;   
    video{      
      width: 600px;
      border-radius: 15%;            
    }
    
  }
}
}